<h1>Admin Dashboard</h1>

<div class="stats">
  <div class="stat-card">
    <h2>Total Posts</h2>
    <p><%= @total_posts %></p>
  </div>
  <div class="stat-card">
    <h2>Total Topics</h2>
    <p><%= @total_categories %></p>
  </div>
  <div class="stat-card">
    <h2>Total Tags</h2>
    <p><%= @total_tags %></p>
  </div>
  <div class="stat-card">
    <h2>Draft Posts</h2>
    <p><%= @draft_posts %></p>
  </div>
</div>