<dialog data-dialog-target="dialog" class="dialog">
  <button type="button" class="dialog__close-button" data-action="dialog#close">
    &times;
  </button>
  <div class="dialog__icon-container">
    <%= inline_svg 'alert-triangle.svg', class: 'dialog__icon' %>
  </div>
  <h2 class="dialog__title">Delete Post?</h2>
  <p class="dialog__post-title"></p>
  <div class="dialog__buttons">
    <form data-dialog-target="form" method="post" action="">
      <input type="hidden" name="_method" value="delete">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <button type="submit" class="dialog__delete-button">Delete</button>
    </form>
    <button type="button" class="dialog__cancel-button" data-action="dialog#close">Cancel</button>
  </div>
</dialog>