<% if @post.errors.any? %>
  <div id="error_explanation" class="error-messages" data-controller="flash">
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% content_for :form_title, "Add New Post" %>

<%= render 'form' %>