<div class="error-wrapper">
  <div class="error-icon-container">
    <%= image_tag "server-down.svg", alt: "Internal Server Error", class: "error-icon-background" %>
  </div>
  <div class="error-content">
    <div class="error-title">500</div>
    <p class="error-message">
      Oops! Something went wrong on our end. We're working to fix it.
    </p>
    <a href="/" class="error-button">Go back Home</a>
  </div>
</div>
