<div class="error-wrapper">
  <div class="error-icon-container">
    <%= image_tag "link-broken.svg", alt: "Page Not Found", class: "error-icon-background" %>
  </div>
  <div class="error-content">
    <div class="error-title">404</div>
    <p class="error-message">
      Oops! The page you were looking for doesn't exist or has been moved.
    </p>
    <a href="/" class="error-button">Go back Home</a>
  </div>
</div>

