/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require posts
 *= require add-new-post
 *= require navbar
 *= require footer
 *= require post-management
 *= require pagy
 *= require login
 *= require not-found
 *= require post-show
 */
:root {
  --Gray: #363636;
  --Light-Gray: #CECDCC;
  --White: #FFFFFF;
  --Electro-Red: #F42053;
  --Electro-Blue: #30C2F6;
  --Electro-Forest-Green: #0DAE5E;
  --Electro-Pink: #C225E0;
  --Electro-Yellow: #F0AA05;
  --Electro-Purple: #6027FF;
  --Electro-Orange: #F68C30;
  --Login-Gradient: radial-gradient(50% 50% at 50% 50%, #000 0%, #121212 100%);
  --Electro-Red-Gradient: linear-gradient(0deg, rgba(244, 32, 83, 0.5) 0%, rgba(244, 32, 83) 100%);
  --Gray-Gradient: linear-gradient(0deg, rgba(123, 123, 123, 0.5) 0%, rgb(147, 147, 147) 100%);
  --Green-Glow: rgba(13, 174, 94, 1);
  --Box-Shadow-Green-Glow: 0px 10px 100px -40px var(--Green-Glow);
  --Black-Gradient-Reverse: linear-gradient(0deg, #000 0%, #121212 100%);

  --Electro-Red-RGB: 244, 32, 83;      /* #F42053 */
  --Electro-Blue-RGB: 48, 194, 246;    /* #30C2F6 */
  --Electro-Forest-Green-RGB: 13, 174, 94; /* #0DAE5E */
  --Electro-Pink-RGB: 194, 37, 224;    /* #C225E0 */
  --Electro-Yellow-RGB: 240, 170, 5;   /* #F0AA05 */
  --Electro-Purple-RGB: 96, 39, 255;   /* #6027FF */
  --Electro-Orange-RGB: 246, 140, 48;  /* #F68C30 */
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  color: var(--White, #FFF);
}

body {
  display: flex;
  padding: 1rem 1rem 0 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: auto;
  background: none;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--Black-Gradient, linear-gradient(180deg, #000 0%, #121212 100%));
  z-index: -1;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.app-flash-notification {
  background: radial-gradient(50% 50% at 50% 50%, #1a1a1a 0%, #121212 100%);
  padding: 0.5rem 1rem;
  border-radius: 12px;
  border: 1px solid var(--Electro-Forest-Green);
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.8;
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.app-flash-notification p {
  margin: 0;
}

.app-flash-notification.notice {
  border: 1px solid var(--Electro-Forest-Green);
}
.app-flash-notification.alert {
  border: 1px solid var(--Electro-Red);
}

.app-flash-notification.fade-out {
  transform: translate(-50%, -100%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.error-messages {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background: radial-gradient(50% 50% at 50% 50%, #1a1a1a 0%, #121212 100%);
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid var(--Electro-Red);
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8;
  max-width: 90%;
  width: 600px;
  z-index: 100;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  opacity: 1;
}

.error-messages h2 {
  font-weight: bold;
  margin: 0;
}

.error-messages ul {
  margin: 0;
  padding-left: 1.5rem;
  list-style-type: disc;
}

.error-messages.fade-out {
  opacity: 0;
  transform: translateY(-20px);
}

.tooltip {
  max-width: 200px;
  word-wrap: break-word;
  word-break: break-word;
  text-align: center;
  position: absolute;
  background-color: var(--Gray);
  position: absolute;
  background: var(--Gray);
  color: whitesmoke;
  font-size: 0.75rem;
  padding: 5px 10px;
  border-radius: 4px;
  z-index: 1000;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.8;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tooltip.hidden {
  opacity: 0;
}

.tooltip:not(.hidden) {
  opacity: 1;
}

.tooltip-carrot {
  position: absolute;
  bottom: -8px; 
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid var(--Gray);
}

/* YouTube iframe Responsive container */
.be-responsive-youtoob {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}