/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require posts
 *= require add-new-post
 *= require navbar
 *= require footer
 *= require post-management
 *= require pagy
 */
:root {
  --Gray: #363636;
  --White: #FFFFFF;
  --Electro-Red: #F42053;
  --Electro-Blue: #30C2F6;
  --Electro-Forest-Green: #0DAE5E;
  --Electro-Pink: #C225E0;
  --Electro-Yellow: #F0AA05;
  --Electro-Purple: #6027FF;
  --Login-Gradient: radial-gradient(50% 50% at 50% 50%, #000 0%, #121212 100%);
  --Electro-Red-Gradient: linear-gradient(0deg, rgba(244, 32, 83, 0.5) 0%, rgba(244, 32, 83) 100%);
  --Gray-Gradient: linear-gradient(0deg, rgba(123, 123, 123, 0.5) 0%, rgb(147, 147, 147) 100%);
  --Green-Glow: rgba(13, 174, 94, 1);

  --Electro-Red-RGB: 244, 32, 83;      /* #F42053 */
  --Electro-Blue-RGB: 48, 194, 246;    /* #30C2F6 */
  --Electro-Forest-Green-RGB: 13, 174, 94; /* #0DAE5E */
  --Electro-Pink-RGB: 194, 37, 224;    /* #C225E0 */
  --Electro-Yellow-RGB: 240, 170, 5;   /* #F0AA05 */
  --Electro-Purple-RGB: 96, 39, 255;   /* #6027FF */
  --Electro-Orange-RGB: 246, 140, 48;  /* #F68C30 */
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  color: var(--White, #FFF);
}

body {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: auto;
  background: none;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--Black-Gradient, linear-gradient(180deg, #000 0%, #121212 100%));
  z-index: -1;
}

.highlight {
  border-radius: 6px;
  width: 100%;
}

.highlight pre {
  white-space: pre-wrap;
  word-break: break-word;
  margin: 0;
  padding: 20px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
