.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.footer-text {
  text-align: center;
  color: var(--Gray);
  font-size: 12px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.footer-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.footer-link button {
  background: none;
  border: none;
  color: #CECDCC;
  font-size: 12px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  transition: color 0.4s ease, text-decoration 0.5s ease-out;
}

.footer-link button:hover {
  color: var(--Electro-Forest-Green);
  text-decoration: underline;
}

/* About Dialog Styles */
.footer-about-dialog {
  width: 100%;
  max-width: 360px;
  background: radial-gradient(circle, black 0%, #121212 100%);
  box-shadow: 0px 10px 100px -40px var(--Green-Glow);
  border: 1px solid var(--Gray);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  box-sizing: border-box;
}

.footer-dialog__close-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* About Dialog Content */
.about-dialog__content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
}

.about-dialog__close-icon {
  align-self: flex-end;
  width: 20px;
  height: 20px;
}

.about-dialog__close-box {
  width: 15px;
  height: 15px;
  background: white;
}

.about-dialog__main {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.about-dialog__header {
  text-align: center;
  color: #0dae5e;
  font-size: 16px;
  font-family: Unbounded, sans-serif;
  font-weight: 300;
}

.about-dialog__info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.about-dialog__name {
  font-size: 20px;
  font-family: Unbounded, sans-serif;
  font-weight: 700;
}

.about-dialog__avatar {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.about-dialog__bio > p {
  margin: 0;
  text-wrap: pretty;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.8;
}

.about-dialog__link {
  color: white;
  text-decoration: underline;
  transition: color 0.4s ease, text-decoration 0.5s ease-out;
}

.about-dialog__link:hover {
  color: var(--Electro-Forest-Green);
  text-decoration: underline;
}

.about-dialog__recent {
  width: 100%;
}

.about-dialog__recent-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid #0dae5e;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.about-dialog__recent-image {
  height: 22px;
  width: 80px;
  border-radius: 10px;
}

.about-dialog__github {
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid #0dae5e;
}

.about-dialog__github-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.about-dialog__github-icon {
  width: 24px;
  height: 24px;
}

.about-dialog__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-align: center;
}

.about-dialog__commit-message {
  text-align: center;
  font-family: B612 Mono;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

/* Contact Dialog Styles */
.footer-contact-dialog {
  width: 100%;
  max-width: 360px;
  background: radial-gradient(62.86% 62.86% at 50% 0%, #000 0%, #121212 100%);
  box-shadow: 0px 10px 100px -40px var(--Green-Glow);
  border-radius: 12px;
  border: 1px var(--Gray) solid;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  box-sizing: border-box; 
}

.footer-dialog__close-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.contact-form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-sizing: border-box;
}

.contact-form__heading h2 {
  text-align: center;
  color: #0DAE5E;
  font-size: 16px;
  font-family: Unbounded, sans-serif;
  font-weight: 300;
  margin: 0;
}

.contact-form__subheading p {
  text-align: center;
  color: white;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0 20px 0 20px;
}

.contact-form__field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-form__label {
  color: white;
  font-size: 12px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.contact-form__input,
.contact-form__textarea {
  width: 100%;
  padding: 10px;
  background: black;
  border-radius: 6px;
  border: 1px var(--Gray) solid;
  color: white;
  font-size: 10px;
  font-family: 'B612 Mono', monospace;
  line-height: 16px;
  outline: none;
  box-sizing: border-box;
}

.contact-form__textarea {
  height: 180px;
  resize: none;
}

.contact-form__checkbox-field {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-form__checkbox {
  width: 14px;
  height: 14px;
  border-radius: 2px;
  border: 1px var(--Gray) solid;
  background: none;
  cursor: pointer;
}

.contact-form__checkbox-label {
  color: white;
  font-size: 12px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.contact-form__message {
  color: white;
  font-size: 12px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.contact-form__message--success {
  color: var(--Electro-Forest-Green, #0DAE5E);
}

.contact-form__message--error {
  color: #dc3545;
}


.contact-form__buttons {
  display: flex;
  justify-content: center;
}

.contact-form__button {
  width: 100%;
  height: 32px;
  padding: 6px 10px;
  background: var(--Black-Gradient-Reverse, linear-gradient(0deg, #000 0%, #121212 100%));
  border: 1px solid var(--Gray);
  border-radius: 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, border 0.3s ease-out;
}

.contact-form__button:hover,
.contact-form__button:focus {
  border: 1px solid var(--Electro-Forest-Green, #0DAE5E); 
  background: rgba(13, 174, 94, 0.8);
  outline: 1px solid rgba(13, 174, 94, 0.5); 
  outline-offset: 2px;
}

.contact-form__button-text {
  color: white;
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.contact-form__input:focus,
.contact-form__textarea:focus {
  border-color: var(--Electro-Forest-Green);
  box-shadow: 0px 0px 10px var(--Green-Glow);
}

.contact-form__checkbox {
  width: 14px;
  height: 14px;
  border-radius: 2px;
  border: 1px var(--Gray) solid;
  background: none;
  cursor: pointer;
  appearance: none;
  transition: background-color 0.3s, border-color 0.3s;
}

.contact-form__checkbox:checked {
  background-color: var(--Electro-Forest-Green, #0DAE5E);
  border-color: var(--Electro-Forest-Green, #0DAE5E);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M9 16.2l-3.5-3.5L4.3 14l4.7 4.7L20.7 7.7l-1.4-1.4z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.contact-form__checkbox:focus {
  outline: 2px solid var(--Electro-Forest-Green);
  outline-style: double;
}

.contact-form__input:-webkit-autofill,
.contact-form__input:-webkit-autofill:hover,
.contact-form__input:-webkit-autofill:focus {
  background-color: rgba(var(--Electro-Forest-Green-RGB), 0.1) !important;
  box-shadow: 0 0 0px 1000px #000 inset !important;
  border-color: var(--Electro-Forest-Green) !important;
  color: var(--White) !important;
  -webkit-text-fill-color: var(--White) !important;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
}
