.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: top;
  padding: 0;
}

.navbar-logo img {
  height: 120px;
  transition: transform 0.4s ease;
}

.navbar-logo img:hover{
  transform: translateY(2px);
}

.dropdown-container {
  position: relative;
}

.dropdown-button {
  display: flex;
  height: 36px;
  justify-content: center;
  padding: 6px 20px;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
  font-family: Unbounded;
  font-weight: 400;
  color: whitesmoke;
  border-radius: 24px;
  border: 1px solid var(--Gray, #ccc);
  background: var(--Black-Gradient-Reverse, linear-gradient(0deg, #000 0%, #121212 100%));
  margin-bottom: 8px;
  cursor: pointer;
  transition: background 0.3s ease, border 0.3s ease-out;
}

.dropdown-button:hover,
.dropdown-button:focus {
  border: 1px solid var(--Electro-Forest-Green, #0DAE5E); 
  background: rgba(13, 174, 94, 0.8);
  outline: 2px solid rgba(13, 174, 94, 0.5); 
  outline-offset: 2px;
}

.dropdown-menu {
  position: absolute;
  top: 10;
  right: 0;
  min-width: 160px;
  padding: 8px 0px;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  border: 1px solid var(--Electro-Forest-Green, #0DAE5E);
  background: var(--Black-Gradient, linear-gradient(180deg, #000 0%, #121212 100%));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 10;
  transform-origin: top right;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.hidden {
  display: none;
}

.dropdown-link,
.dropdown-link-button {
  display: block;
  padding: 8px 16px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  color: #FFF;
  border: none;
  background: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}


.dropdown-link:hover,
.dropdown-link-button:hover {
  background-color: #0DAE5E;
}

.dropdown-link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  box-sizing: border-box;
}

.dropdown-menu .dropdown-link,
.dropdown-menu .dropdown-link-button {
  font-family: "Unbounded";
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 0.3px;

}

.menu-icon {
  width: 16px;
  height: 16px;
}

/* Transition classes */
.transition {
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.ease-out {
  transition-timing-function: ease-out;
}

.ease-in {
  transition-timing-function: ease-in;
}

.duration-75 {
  transition-duration: 75ms;
}

.duration-100 {
  transition-duration: 100ms;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.scale-95 {
  transform: scale(0.95);
}

.scale-100 {
  transform: scale(1);
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events-auto {
  pointer-events: auto;
}

@media (max-width: 800px) {
  .navbar-logo img {
    height: 80px;
  }
}