.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 1rem;
}

/* Categories Bar */
.categories-bar-container {
  display: flex;
  width: 100%;
  max-width: 825px;
  min-height: 86px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  border: 1px solid var(--Gray, #363636);
  overflow: hidden;
  margin: 0;
}

.categories-bar-container > .title-container {
  display: flex;
  width: 100%;
  min-height: 38px;
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background: var(--Login-Gradient);
}

.title-container > .title-text {
  color: var(--White);
  font-family: Unbounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.title-container > .question-filled {
  width: 14px;
  height: 14px;
}

.category-selectors {
  display: flex;
  width: 100%;
  min-height: 36px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 0;
}

.category {
  display: flex;
  height: 50px;
  min-width: 96px;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  text-decoration: none;
  background-color: transparent;
  transition: background-color 0.3s;
}

.category-text {
  color: var(--White, #FFF);
  text-align: center;
  font-family: B612 Mono;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.category.frontend {
  --category-color: var(--Electro-Blue-RGB);
}

.category.backend {
  --category-color: var(--Electro-Yellow-RGB);
}

.category.fullstack {
  --category-color: var(--Electro-Forest-Green-RGB);
}

.category.devops {
  --category-color: var(--Electro-Red-RGB);
}

.category.news {
  --category-color: var(--Electro-Purple-RGB);
}

.category.personal {
  --category-color: var(--Electro-Orange-RGB);
}

.category:hover {
  background-color: rgba(var(--category-color), 0.5);
}

.category.active {
  background-color: rgba(var(--category-color), 1);
}

.post-by-cat {
  margin: 0;
}