.welcome-section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 775px;
  border-bottom: 1px solid var(--Gray, #ccc);
  color: var(--White);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  margin: 1rem 0 3.5rem 0;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}

.welcome-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.welcome-title {
  font-family: Unbounded, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 10px 0 10px;
  margin: 0;
}

.welcome-img {
  width: 160px;
  height: 160px;
  margin-top: 24px;
}

.welcome-text {
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.8;
  text-align: center;
  text-wrap: balance;
  margin: 0;
}

.welcome-links {
  display: flex;
  width: 100%;
  max-width: 200px;
  justify-content: space-around;
  margin: 0 0 16px 0;
}

.welcome-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: whitesmoke;
  transition: transform 0.5s ease, color 0.4s ease, filter 0.5s ease;
}

.welcome-icon:hover {
  transform: translateY(-2px);
  color: var(--Electro-Forest-Green);
  filter: drop-shadow(var(--Electro-Forest-Green) 1px 1px 10px)
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 1rem;
}

/* Categories Bar */
.category-bar-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.categories-bar-container {
  display: flex;
  width: 100%;
  max-width: 825px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  background: 
    url('300-75-4-monochrome.png'),
    radial-gradient(50% 50% at 50% 50%, #000 0%, #121212 100%);
  background-blend-mode: color-dodge;
  border: 1px solid var(--Gray, #363636);
  overflow: hidden;
  margin: 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.4s ease;
}

.categories-bar-container:hover {
  transform: scale(1.02);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--Electro-Forest-Green, #0DAE5E); 
}

.categories-bar-container:empty {
  display: none;
}

.category-title-text {
  font-size: 1rem;
  font-family: Unbounded;
  font-weight: 600;
  letter-spacing: 0.3px;
  background: 
    url('300-75-4-monochrome.png'),
    radial-gradient(50% 50% at 50% 50%, #000 0%, #121212 100%);
  background-blend-mode: color-dodge;
  margin: 0;
  text-align: center;
  padding: 10px 0 10px 0;
  border-radius: 12px;
  border: 1px solid var(--Gray, #ccc);
  min-width: 250px;
}

.categories-bar-container > .title-container {
  display: flex;
  width: 100%;
  height: 38px;
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.title-container > .title-text {
  color: var(--White);
  font-family: Unbounded;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
}

.title-container > .question-filled {
  width: 14px;
  height: 14px;
}

.category-selectors {
  display: flex;
  width: 100%;
  min-height: 36px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 0;
}

.category {
  display: flex;
  height: 38px;
  min-width: 96px;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  text-decoration: none;
  background-color: transparent;
  transition: background-color 0.3s;
}

.category-text {
  color: var(--White, #FFF);
  text-align: center;
  font-family: Unbounded;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.category.frontend {
  --category-color: var(--Electro-Blue-RGB);
}

.category.backend {
  --category-color: var(--Electro-Yellow-RGB);
}

.category.fullstack {
  --category-color: var(--Electro-Forest-Green-RGB);
}

.category.devops {
  --category-color: var(--Electro-Red-RGB);
}

.category.news {
  --category-color: var(--Electro-Purple-RGB);
}

.category.personal {
  --category-color: var(--Electro-Orange-RGB);
}

.category:hover {
  background-color: rgba(var(--category-color), 0.5);
}

.category.active {
  background-color: rgba(var(--category-color), 1);
}

.post-by-cat {
  margin: 0;
}

/* Post Cards */
.post {
  align-self: stretch;
  min-height: 200px;
  padding: 20px;
  background: 
    url('300-75-4-monochrome.png'),
    radial-gradient(50% 50% at 50% 50%, #000 0%, #121212 100%);
  background-blend-mode: hard-light;
  border-radius: 12px;
  border: 1px solid #363636;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.4s ease;
}

.post:hover {
  transform: scale(1.02);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--Electro-Forest-Green, #0DAE5E); 
}

.post-content-index {
  display: flex;
  padding: 0.8rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 10px;
  box-sizing: border-box;
}

.post-content-index p {
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.8;
  text-align: left;
  margin: 0;
}

/* Date inside the post */
.post .date-text {
  text-align: center;
  color: #0DAE5E;
  font-size: 12px;
  font-family: Unbounded, sans-serif;
  font-weight: 300;
  width: 100%;
}

/* Title inside the post */
.post .title-text {
  text-align: center;
  border: none;
  color: white;
  font-size: 24px;
  font-family: Unbounded, sans-serif;
  font-weight: 500;
  word-wrap: break-word;
  width: 100%;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
}

.post .title-text:hover {
  text-decoration: underline;
}

/* Read More link wrapper */
.post .read-more,
.post .read-more:visited {
  color: #0DAE5E;
  text-decoration: none;
  transition: background 0.3s ease, border 0.3s ease-out;
}

.post .read-more:hover {
  text-decoration: underline;
  border: 1px solid var(--Electro-Forest-Green, #0DAE5E); 
  background: rgba(13, 174, 94, 0.8);
  outline: 2px solid rgba(13, 174, 94, 0.5); 
  outline-offset: 2px;
  color: white;
}

/* "Read More" button styling to mimic the snippet */
.post .read-more {
  display: inline-flex;
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid #363636;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background: transparent;
  margin-top: 10px;
}

/* Load More Button */
.load-more-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.load-more {
  padding: 10px 20px;
  background: #0DAE5E;
  border: 1px solid #363636;
  border-radius: 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  text-decoration: none;
  transition: box-shadow 0.4s ease, background 0.3s ease, outline 0.3s ease;
}

.load-more-icon {
  width: 14px;
  height: 14px;
  transition: transform 0.4s ease;
}

.load-more:hover .load-more-icon {
  animation: bounce 1s ease infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(1px); 
  }
  50% {
    transform: translateY(-1px);
  }
}

.load-more:hover {
  border: 1px solid var(--Electro-Forest-Green, #0DAE5E); 
  background: rgba(13, 174, 94, 0.8);
  outline: 2px solid rgba(13, 174, 94, 0.5); 
  outline-offset: 2px;
  box-shadow: 0px 0px 60px #0DAE5E;
}

.load-more-text {
  text-align: center;
  color: white;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

@media (max-width: 600px) {
  .welcome-section {
    flex-direction: column-reverse;
    align-items: center;
    padding: 10px 0 0 0;
    margin-bottom: 0;
    border: none;
  }

  .welcome-text {
    max-width: auto;
  }

  .welcome-img {
    width: 120px;
    height: 120px;
  }
}